name: Simple workflow

on: workflow_dispatch

env:
    DAY_OF_WEEK: Monday

jobs:
    greeting_job:
        runs-on: self-hosted
        
        env:
            Greeting: Hello
            
        steps:
            - name: "Say Hello Hung it's Monday"
              run: echo "$Greeting $First_Name. Today is $DAY_OF_WEEK!"
              env:
                  First_Name: Hung

            - name: Xuất giá trị context
              run: echo ${{ github.repository }}
